<div class="banner">
  <h1>Visitor Solution</h1>
  <div *ngIf="!(show && retrieved)">
    <p>Count your domain visits in the simplest way using our CDN</p>
    <h3>Steps to include CDN:</h3>
    <ul>
      <li>Enter your valid Email ID, your new Secret Key and <strong>your base domain (e.g. if your domain is
          http://www.example.com/users, enter only http://www.example.com)</strong></li>
      <li>At least 1 domain is mandatory. However, click "Add Another Domain" to add more domains.</li>
      <li>Click Get My CDN. Note down your CDN and remember your secretkey.</li>
      <li>Paste your CDN just before the closing body tag in your html.</li>
    </ul>
    <h3>Steps to check visitor count:</h3>
    <ul>
      <li>Click "Already have a CDN ?" below the Get My CDN button. </li>
      <li>Enter your email ID, your secretkey and click Check Visitor Log button.</li>
      <li></li>
    </ul>
  </div>
  <div style="height: 500px" *ngIf="selectedPath != -1">
    <x-map #xmap [Options]="_options">
      <x-map-marker *ngFor="let point of response.data.paths[selectedPath].visitors" [Latitude]="point.geoInfo.ll[0]"
        [Longitude]="point.geoInfo.ll[1]" [Title]="point.ip" [IconUrl]="'https://eb54b6c3.ngrok.io/cdns/pin.png'"
        [IconInfo]="{
                  markerType: _markerTypeId.FontMarker,
                  fontName: 'FontAwesome',
                  fontSize: 30,
                  color: 'red',
                  markerOffsetRatio: { x: 1, y: 1 },
                  text: '\u2605'
              }">
      </x-map-marker>
    </x-map>
  </div>
</div>

<div class="newuser" *ngIf="!show">
  <div *ngIf="!cdn">
    <h4 class="formMsg">Please fill in the following fields to get your CDN.</h4>
    <form #userform="ngForm" novalidate (submit)="register($event)">
      <label class="formLabel" for="userEmail">Enter your Email ID:</label>
      <input class="formInput" type="email" id="userEmail" [(ngModel)]="user.email" name="email">
      <label class="formLabel" for="secretkey">Enter New Secret Key:</label>
      <input class="formInput" type="password" id="secretkey" [(ngModel)]="user.secretKey" name="secretKey">
      <label class="formLabel" for="domain">Enter Your Domain:</label>
      <input class="formInput" type="text" id="domain" [(ngModel)]="user.baseDomain" name="domain">
      <button class="submitBtn" type="submit"
        [disabled]="registered">{{ registered ? 'Registering.. Wait a while..' : 'Register My Domain' }}</button>
      <label class="linkLabel" (click)="show = !show"><u>Already have a CDN ?</u></label>
    </form>
  </div>
  <div *ngIf="cdn" style="margin-top: 10%">
    <label class="gotCDN">Here is your CDN:</label>
    <textarea class="showCDN" rows="3" readonly>{{cdn}}</textarea>
    <small style="margin: 2% 10%">Copy the CDN and paste as explained in the steps.</small>
  </div>
</div>
<div class="newuser" *ngIf="show && !retrieved">
  <h4 class="formMsg">Check your domain's visitor count:.</h4>
  <form #checkForm="ngForm" novalidate (submit)="getVisits($event.target)">
    <label class="formLabel" for="userEmail2">Enter your Email ID:</label>
    <input class="formInput" type="email" id="userEmail2" [(ngModel)]="fetchEmail" name="email">
    <label class="formLabel" for="secretkey2">Enter Base Domain:</label>
    <input class="formInput" type="text" id="secretkey2" [(ngModel)]="fetchBaseDomain" name="domain">
    <button class="submitBtn" type="submit">Check Visitor Log</button>
    <label class="linkLabel" (click)="show = !show"><u>New here ?</u></label>
    <button class="submitBtn" type="button" (click)="temp()">Temporary Button</button>
  </form>
</div>
<div class="newuser" *ngIf="show && retrieved">
  <h4 class="formMsg">Account Information:<br><br>Registered Email: {{receivedUser.email}}<br>Registered domain: {{receivedUser.baseDomain}}</h4>
  <p *ngFor="let path of receivedUser.paths; let i=index">{{path.path}}&nbsp;{{path.totalVisitorCount}}&nbsp;
    <li *ngFor="let visitor of visitors[i]; let j=index">{{visitor.ip}} : {{visitor.count}}</li>
  </p>
  <p>Select Path to show Map:</p>
  <select class="pathSelect" [(ngModel)]="selectedPath"> {{ selectedPath }}
    <option [value]="-1">-- Select Your Path --</option>
    <option *ngFor="let path of response.data.paths; let i = index" [value]="i">{{path.path}}</option>
  </select>
</div>